body{
    text-align: center;
}

.div1 {
    background-color: aqua;
    color: white;
    height: 100px;
    width: 100px;
    background-image: url(/assignment/cookies.jpg);
}

#div2 {
    background-color: brown;
    color: white;
    height: 200px;
    width: 200px;
}